# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
backend/venv/
backend/.venv/

# Environment Files
frontend/.env
backend/.env

# =========================
# Frontend (React + Vite)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Backend
# =========================
*.sqlite3
*.db

# Logs
*.log

# =========================
# ChromaDB
# =========================
data/chroma_db/

# Uploaded PDFs
data/pdfs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db